* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 500px;
    color: #fff;
    background-color: #1F2937;
}

.header-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 20px 0;
}

.header {
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 100px 0 ;
}

.header-logo{
 font-size: 24px;   
 color: #F9FAF8
}
.links {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    color: #E5E7EB;
}

.link-one,
.link-two,
.link-three {
    padding: 0 10px
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.hero {
    width: 400px;
    margin-right: 100px;
}

.hero-heading {
    font-family: Roboto;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.signup {
    width: 120px;
    color: #fff;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.banner-image {
    background-color: #858585;
    color: #fff;
    padding: 100px;
    flex: initial;
}